{% load static %}

{% block content %}
    <body>
        <nav class="w-full overflow-x-hidden bg-[#5a5948] h-fit  overflow-hidden sticky top-0 left-0 z-10">
            <div class="py-10 lg:px-8 px-4 max-w-[1280px] h-16 m-auto text-white flex items-center justify-between">
                <div>
                    <a href="{% url 'store' %}">
                        <img href="" class=" h-[50px] lg:text-2xl text-xl uppercase tracking-wider cursor-pointer font-bold" src='{% static "images/Logo.png" %}' alt="logo">
                    </a>
                </div>
                <div class="flex lg:gap-8 gap-6 uppercase tracking-wider cursor-pointer text-lg items-center" id="navItems">
                    <span class="group">
                        Services
                        <div class="w-0 group-hover:w-full h-0.5 bg-white ease-in-out duration-500"></div>
                    </span>
                    <span class="group">
                        About
                        <div class="w-0 group-hover:w-full h-0.5 bg-white ease-in-out duration-500"></div>
                    </span>
                    <span class="group">
                        Contact
                        <div class="w-0 group-hover:w-full h-0.5 bg-white ease-in-out duration-500"></div>
                    </span>
                </div>
                <div id="hamburger" class="fa fa-bars flex items-center text-xl" style="display:none;"></div>
                <div id="mobileNav"
                    class="fixed z-10 flex flex-col gap-8 pt-16 px-4 text-xl uppercase bg-[#5a5948] h-full inset-0 top-16 w-[70%] left-[-70%] ease-in-out duration-500 cursor-pointer">
                    <span>Services</span>
                    <span>About</span>
                    <span>Contact</span>
                </div>
            </div>
        </nav>

        <script>
            var navItems = document.getElementById("navItems");
            var mobileNav = document.getElementById("mobileNav");
            var hamburger = document.getElementById("hamburger");


            function adjustNavbar() {
                screenWidth = parseInt(window.innerWidth);

                if (screenWidth < 541) {
                    navItems.style.display = "none";
                    hamburger.style.display = "flex";
                }
                else {
                    navItems.style.display = "flex";
                    hamburger.style.display = "none";
                }
            }

            adjustNavbar();

            window.addEventListener("resize", adjustNavbar);

            hamburger.addEventListener("click", function () {
                mobileNav.classList.toggle("left-[-70%]");
                hamburger.classList.toggle("fa-bars");
                hamburger.classList.toggle("fa-close");
            })
        </script>
    </body>
{% endblock content %}

</html>